In [ ]:
#    • cca ---› complete case analysis
#   " nev_df -=> wissing_dato_drop
#    • Architecture ••-› Histogram .••.>
#    * past column in which we have missing data
#    # updated column in which we have no missing data
#   •if post doto orchitecture is overlop to new date architecture •=› it means we con drop missing dota
#    if past data architecture is not overlap to new data architecture ...› it means we can not drop missing doto

In [3]:
import numpy as np
import pandas as pd
df = pd.read_csv("C:\\Users\\ADMIN\\Desktop\\New folder\\dsjob.csv")

In [4]:
df.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,32403,city_41,0.827,Male,Has relevent experience,Full time course,Graduate,STEM,9,<10,NaN,1,21
1,9858,city_103,0.920,Female,Has relevent experience,no_enrollment,Graduate,STEM,5,NaN,Pvt Ltd,1,98
2,31806,city_21,0.624,Male,No relevent experience,no_enrollment,High School,NaN,<1,NaN,Pvt Ltd,never,15
3,27385,city_13,0.827,Male,Has relevent experience,no_enrollment,Masters,STEM,11,10/49,Pvt Ltd,1,39
4,27724,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,10000+,Pvt Ltd,>4,72

In [6]:
df.isnull()-mean()*100

NameError: name 'mean' is not defined

In [ ]:
cols =[var for var in df.columns if ]

In [ ]:
df["educational_level"].value_counts()

In [ ]:
len(df[cols].dropna()) / len(df)

In [ ]:
new_df = df[cols].dropna()
df.shape ,new_df.shape

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(111)



# original data
df['experience'].hist(bins=50 ,ax = ax ,density =True ,color ='red')

# data after the argument alpha makes the color transparent so we can
# see the overlay of the 2 distributions
new_df

In [ ]:
temp = pd.concat([
    # percentage of observations per category ,original data
    df['enrolled_university'].value_counts()/ len(df),

    # percentage of observations per category,cca data
    new_df['enrolled_university'],value_counts()/len(new_df)

],
axis = 1)

# add columns name
temp.columns =['original', 'cca']
temp

In [ ]:
temp = pd.concat([
    # percentage of observations per category, original data
    df['education_level'].value_counts()/ len(df),

    # percentage of observations per category, cca data
    new_df['educational_level'].value_counts() / len(new_df)

],
axis=1)

# add columns names
temp.columns = ['original','cca']
temp