column transformer

In [1]:
# columnTransformer---->

# container[step_name , approach , column_name]

# project--->simply way me represent

# data---> divide x_train , x_test , y_train , y_test

# 1-1 column---> shape --->concatinate---> output shape

# columnTransformer---> combined--> output shape = equal

In [2]:
import numpy as np
import pandas as pd

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

from sklearn.preprocessing import OrdinalEncoder

In [3]:
df =pd.read_csv("C:\\Users\\ADMIN\\Desktop\\New folder\\covid_toy.csv")

In [4]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [25]:
x = df.drop(columns =['has_covid'])
y =df['has_covid']

In [26]:
from sklearn.model_selection import train_test_split

x_train , x_test, y_train, y_test = train_test_split(x,y, test_size =0.2,random_state = 42)

In [27]:
x_train

    age  gender  fever   cough       city
55   81  Female  101.0    Mild     Mumbai
88    5  Female  100.0    Mild    Kolkata
26   19  Female  100.0    Mild    Kolkata
42   27    Male  100.0    Mild      Delhi
69   73  Female  103.0    Mild      Delhi
..  ...     ...    ...     ...        ...
60   24  Female  102.0  Strong  Bangalore
71   75  Female  104.0  Strong      Delhi
14   51    Male  104.0    Mild  Bangalore
92   82  Female  102.0  Strong    Kolkata
51   11  Female  100.0  Strong    Kolkata

[80 rows x 5 columns]

In [8]:
# Manually type output

In [28]:
# adding simple imputer to fever column
si = SimpleImputer(strategy = 'mean')
x_train_fever = si.fit_transform(x_train[['fever']])

#also the test data
x_test_fever = si.fit_transform(x_test[['fever']])

x_train_fever.shape

(80, 1)

In [10]:
# ordinal Encoding-->cough


oe = OrdinalEncoder(categories =[['Mild', 'Strong']])
x_train_cough = oe.fit_transform(x_train[['cough']])


# also the test data

x_test_cough = oe.fit_transform(x_test[['cough']])

x_train_cough.shape

(80, 1)

In [11]:
# onehotencoding---->genderr,city

ohe =OneHotEncoder(drop= 'first',sparse_output= False)
x_train_gender_city =ohe.fit_transform(x_train[['gender','city']])


# also the test data
x_test_gender_city = ohe.fit_transform(x_test[['gender','city']])

x_train_gender_city.shape

(80, 4)

In [12]:
# Extrating age

x_train_age = x_train.drop(columns =
                           ['gender','fever','cough','city']).values


# also the test data
x_test_age = x_test.drop(columns=
                         ['gender','fever','cough','city']).values

In [13]:
x_train_age.shape

(80, 1)

In [14]:
x_train_transformed =np.concatenate((x_train_age , x_train_fever ,
                                     x_train_gender_city ,
                                     x_train_cough) , axis=1)

In [15]:
x_train_transformed.shape

(80, 7)

In [16]:
# By the help of column Transformer

In [17]:
from sklearn.compose import ColumnTransformer   # this is how to import columnTransformer

transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),  # in a fever column by the help of si we
    # fill the missing values by mean,median,mode,

    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),  # by this process
    # we encode our data
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])],
    remainder ='passthrough') # remainder = passthrough ==>
# it means rest of all the columns remains same.

In [18]:
transformer.fit_transform(x_train).shape

(80, 7)

In [19]:
# covid data

# df.dftypes---->
# categorical_columns--->missing value fill---> standardsize.
# finally connect your all data.
# create a function in which as an argument you will pass your data and then your function]
# will do your function
# will do upper steps