In [10]:
def func_add(func):
    
    result = func().upper
    return result


def test():

    return "hello gautam"

In [11]:
x = func_add(test)
x()

'HELLO GAUTAM'

In [25]:
class find_area:
    def __init__(self, x=None, y=None):
        if x!= None and y!= None:
            print(x*y)
        elif x!=None and y==None:
            print(x*x)
        else:
            print("Please enter the values of x and y")

In [28]:
s1 = find_area(12,4)
s2 = find_area(12)
s3 = find_area()

48
144
Please enter the values of x and y

In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import StandardScaler

In [3]:
df =pd.read_csv("C:\\Users\\ADMIN\\Desktop\\New folder\\covid_toy.csv")
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [4]:
si = SimpleImputer()

In [5]:
df['fever'] = si.fit_transform(df[['fever']])

In [6]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [9]:
#  Now Train_test_split



x = df.drop(columns =['has_covid'])
y = df['has_covid']

In [12]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2,random_state = 42)

In [16]:
x_train

    age  gender  fever   cough       city
55   81  Female  101.0    Mild     Mumbai
88    5  Female  100.0    Mild    Kolkata
26   19  Female  100.0    Mild    Kolkata
42   27    Male  100.0    Mild      Delhi
69   73  Female  103.0    Mild      Delhi
..  ...     ...    ...     ...        ...
60   24  Female  102.0  Strong  Bangalore
71   75  Female  104.0  Strong      Delhi
14   51    Male  104.0    Mild  Bangalore
92   82  Female  102.0  Strong    Kolkata
51   11  Female  100.0  Strong    Kolkata

[80 rows x 5 columns]

In [22]:
# now apply ordinalEncoder


oe = OrdinalEncoder(categories = [['Mild','Strong']])
x_train_cough = oe.fit_transform(x_train[['cough']])

x_test_cough = oe.fit_transform(x_test[['cough']])

x_train.shape

(80, 5)

In [ ]:
# now apply