In [1]:
import pandas as pd
import numpy as np

In [2]:
df =pd.read_csv("C:\\Users\\ADMIN\\Desktop\\New folder\\newplacementdata.csv")

In [3]:
df.head()

   cgpa  placement_exam_marks  placed
0  7.19                    26       1
1  7.46                    38       1
2  7.54                    40       1
3  6.42                     8       1
4  7.23                    17       0

In [4]:
import matplotlib.pyplot as plt
import seaborn as sn

In [ ]:
df['placement']

In [ ]:
sns.boxplot(x = df['placement'])

In [ ]:
# finding the IRQ

percentile25 = df['placement_exam_marks'].quantile(0.25)
percentile = df['placement_exam_marks'].quantile(0.75)

In [ ]:
IQR = percentile75 - percentile25
IQR

In [ ]:
upper_limit = percentile75 + 1.5 *

In [ ]:
# Finding our Outliers

In [ ]:
df[df['placement_exam_marks']> upper_limit]

In [ ]:
df[df['placement_exam_marks']< lower_limit]

In [ ]:

# trimming --->4(lower).....1 , upper (25)...(50)---> here 1,50 are outliers
# lower(4) <----> upper(25)mid data,

# capping--> 4(lower)...1, upper(25)....(50)---> capping lower point to lowest point(1)
# upper point upper point(50)---> range expand---> outliers remove

In [ ]:
# trimmming (outliers removing technique)

newdf = df[df['placement_exam_marks'] < upper_limit]

In [ ]:
# new df

In [ ]:
# comparison

In [ ]:
plt.figure(figsize = (15,5))


plt.subplot(222)
sns.boxplot(x = df['placement_exam_marks'])


plt.subplot

In [ ]:
# capping (outliers removing technique)

In [ ]:
new_df_cap = df.copy()

In [ ]:
# min  = 5 , max = 15

# min 4 ,3 ,1
# max - 20, 30, 50



# updated_min_value = 1
# updated_max_value = 50

In [ ]:
new_df_cap['placement_exam_marks'] = np.where(

    new_df_cap['placement_exam_marks'] > upper_limit,
    upper_limit,

    np.where(
        new_df_cap['placement_exam_marks'] < lower_imit ,
        lower_limit ,
        new_df_cap['placement_exam_marks']
    )
)

In [ ]:
new_df_cap.shape

In [ ]:
# comparison

In [ ]:
plt.figure(figsize = 0.5)

In [ ]:
# titanic dataset---> age--> outliers---> check
# handle --->trimming ,capping

In [ ]:
df =pd.read_csv("C:\\Users\\ADMIN\\Desktop\\New folder\\titanic.csv")
df.head()