In [ ]:
# Standardization---> categorical data to numerical data.
# mean = 0 and std(standard_deviation) = 1

In [ ]:
import pandas as pd
import numpy as np

In [53]:
df =pd.read_csv("C:\\Users\\ADMIN\\Desktop\\New folder\\covid_toy.csv")
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [54]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [ ]:
from sklearn.impute import SimpleImputer    # fill the null value from the mean

In [56]:
si =SimpleImputer()

In [57]:
df['fever'] = si.fit_transform(df[['fever']])

In [58]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [ ]:
df['gender'] = df['gender'].map({"Male":0, "Female":1})
df['cough'] = df['cough'].map({'Mild':0, "Strong":1})                                   ## convert the categorical data to numerical data
df["city"] = df["city"].map({"Kolkata":0,"Bangalore":1,"Delhi":2, "Mumbai":3})
df["has_covid"] = df['has_covid'].map({"Yes":0, "No":1})

In [60]:
x =df.drop(columns = ['has_covid'])
y = df['has_covid']

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2,random_state = 42)

In [ ]:
np.round(x_train.describe())     # check the x_train data

        age  gender  fever  cough  city
count  80.0    80.0   80.0   80.0  80.0
mean   43.0     1.0  101.0    0.0   1.0
std    24.0     0.0    2.0    0.0   1.0
min     5.0     0.0   98.0    0.0   0.0
25%    20.0     0.0  100.0    0.0   0.0
50%    42.0     1.0  101.0    0.0   1.0
75%    65.0     1.0  102.0    1.0   2.0
max    84.0     1.0  104.0    1.0   3.0

In [ ]:
from sklearn.preprocessing import StandardScaler    ## for changing the value of mean and standard deviation

In [65]:
si = StandardScaler()

In [66]:
x_train_sc = si.fit_transform(x_train)

In [67]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [69]:
np.round(x_train_new.describe())

        age  gender  fever  cough  city
count  80.0    80.0   80.0   80.0  80.0
mean   -0.0    -0.0   -0.0   -0.0   0.0
std     1.0     1.0    1.0    1.0   1.0
min    -2.0    -1.0   -2.0   -1.0  -1.0
25%    -1.0    -1.0   -1.0   -1.0  -1.0
50%    -0.0     1.0    0.0   -1.0  -0.0
75%     1.0     1.0    1.0    1.0   1.0
max     2.0     1.0    2.0    1.0   2.0